footer{
    grid-area: down;
    background-color: map-get($map: $colors, $key: fondo);
    margin-top: $marginTop;
    color: map-get($map: $colors, $key: letra);
}

.link{
    text-decoration: $linkStyle;
}