nav{
    grid-area: nav;
    background-color: map-get($map: $colors, $key: fondo);
    color: map-get($map: $colors, $key: letra);

    .tamañoLogo{
        width: map-get($map: $dimentions, $key: width) - 92;
    }
    .tamañoImagen{
        width: 20%;
    }
}