.position{
    @include flex-column-center;
    margin-top: $marginTop;
    text-align: map-get($map: $position, $key: center);
    font-weight: bold;
    padding: $padding;
}
    
.dimentions{
    @include w-h;
}